body {
  margin-top: 5.8rem; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: .9;
  background: #fff;
  height: 14.2vh; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 1.2rem; }
    .navbar .nav-item .nav-link {
      color: #aaa; }

#showcase {
  position: relative;
  height: 86vh;
  background: url("../img/mountains.jpg");
  background-size: cover; }
  #showcase .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #showcase .subtitle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 60%;
  margin: auto;
  border-bottom: 1px solid #ddd; }

#accordion h5 {
  margin: 0;
  line-height: 2.2; }
#accordion .card-header {
  padding: 0;
  height: 3rem;
  cursor: pointer; }
  #accordion .card-header:hover {
    cursor: pointer; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fab {
    color: #fff; }

#main-footer p {
  margin-bottom: 0; }

@media only screen and (max-width: 1199px) {
  body {
    margin-top: 12vh; }

  .navbar {
    height: 12vh; }

  #showcase {
    height: 88vh; }
    #showcase .subtitle {
      margin-top: 0;
      padding-top: 0; }

  #authors .card {
    margin-bottom: 4rem; } }
@media only screen and (max-width: 899px) {
  html {
    font-size: 75%; }

  .navbar {
    height: 12vh; }

  .mb-resp {
    margin-bottom: 1rem; }

  #showcase {
    height: 88vh; }
    #showcase .subtitle-container {
      margin-top: 0;
      padding-top: 0;
      order: 2; }

  #contact {
    flex-direction: column; }
    #contact img {
      width: 200px;
      height: 200px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 1.4rem); } }
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important; }
