$primary-color: #3292a6;
$primary-overlay: rgba(50,146,166,.8);


body {
  margin-top: 5.8rem;
}

.navbar {
  box-shadow: 2px 2px 5px $primary-color;
  opacity: .9;
  background: #fff;
  height: 14.2vh;
  .nav-item {
    font-size: 1.2rem;
    padding-right: 1.2rem;
    // text-transform: uppercase;
    .nav-link {
      color: #aaa;
    }
  }
}


#showcase {
  position: relative;
  height: 86vh;
  background: url('../img/mountains.jpg');
  background-size: cover;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subtitle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  img {
    width: 100%;
    height: auto;
  }

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-header {
  width: 60%;
  margin: auto;
  border-bottom: 1px solid #ddd;
}

#accordion{
  .card-header {
    // display: inline;
    padding: 0;
    height: 3rem;
    h5 {
      cursor: pointer;
      margin: 0;
      line-height: 2.2;
    }
    h5:hover {
    cursor: pointer;
    }
  }
}

#authors {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary-color;
    color: #fff;
   & .fab {
     color: #fff;
   }
  }
}

#main-footer {
  p {
    margin-bottom: 0;
  }
}


@media only screen and (max-width: 1199px) {
  body {
    margin-top: 12vh;
  }

  .navbar {
    height: 12vh;
  }

  #showcase {
    height: 88vh;
    .subtitle {
      margin-top: 0;
      padding-top: 0;
    }
  }

  #authors {
    .card {
      margin-bottom: 4rem;
    }
  }
}

@media only screen and (max-width: 899px) {
  html {
    font-size: 87.5%;
  }
  .navbar {
    height: 10vh;
  }
  body {
    margin-top: 10vh;
  }
  .mb-resp {
    margin-bottom: 1rem;
  }
  #showcase {
    height: 94vh;
    .subtitle-container {
      margin-top: 0;
      padding-top: 0;
      order: 2;
      // transform: translateY(-8vh);
    }
    .subtitle {
      position: absolute;
      width: 500px;
      top: -5rem;
      left: 50%;
      transform: translateX(-50%);

      p {
        margin: .5rem;
      }
    }
    img {
      width: 90%;
      height: 100%;
      justify-self: center;
    }
    #book-cover {
      margin-top: -15rem;
    }
  }
  #contact {
    flex-direction: column;
    img {
      width: 200px;
      height: 200px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 1.4rem);
    }
  }
}

// @media only screen and (max-width: 599px) {

// }

// @media only screen and (min-width: 1800px) {
//   #showcase {
//     // min-height: 88vh;

//     h1 {
//       font-size: 4rem;
//     }
//   }

//   #showcase {
//     .container {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%) scale(2.0);
//     }
//     h1 {
//       font-size: 6rem;

//     }
//   }
// }
.screen-reader-text { 
  border:0;   
  clip: rect(1px, 1px, 1px, 1px); 
  clip-path: inset(50%);
  height: 1px; 
  margin: -1px;
  width: 1px; 
  overflow: hidden; 
  position: absolute !important;
  word-wrap: normal !important;
}